body {
    width: 200px;
    padding: 0px 10px 0 10px;
}

.popup-container {
    text-align: center;
}

#openTabLink {
    display: inline-block;
    padding: 0px 20px 5px 20px;
    font-size: 48px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #0079d3;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

#openTabLink:hover {
    background-color: #0056b3;
}

.checkbox-container {
    margin-top: 10px;
}

label {
    display: block;
    font-size: 14px;
    text-align: left;
    margin-left: 5px;
}

input[type="checkbox"]:checked {
    background-color: #0079d3;
  }